@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

.calculator {
    width: 100%;
    min-height: 90vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    gap: 8px;
    border-radius: 8px;
}

.output {
    background-color: #609cc2;
    grid-column: 1/5;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
}

button {
    font-size: 20px;
    /* font-weight: 600; */
    border: none;
    background: none;
    box-shadow: 0px 0px 8px #9999;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s ease;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

button:hover {
    background-color: #d4d4d4;
}

.span-two {
    grid-column: span 2;
}

button:last-child{
    background-color: #609cc2;
    color: white;
}

button:last-child:hover{
    background-color: #4480a5;
}